*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    min-width: none;
    align-items: center;
}

body header{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
body header nav {
    background-color: steelblue;
    padding: 1px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
body header nav a {
    display: block;
    margin: 1rem;
    padding: 0.4rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    float: left;
}
body header img {
    width: 72.5px;
    height: auto;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px #333;
    float: left;
}

    body main .hero {
        display: block;
        border: 1px solid black;
        box-shadow: #000;
        margin: 10px 10px 10px 10px;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        color: black;
    }
    body main .hero h1 {
        text-align: center;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px 10px 10px 10px;
        color: steelblue;
        border-bottom: solid steelblue;
    }
    body main .hero p {
        margin: 10px 10px 10px 10px;
        text-align: center;
    }
    body main .hero iframe {
        width: 400px;
        height: 400px;
    }

    body main .hero h2 {
        text-align: center;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px 10px 10px 10px;
        color: steelblue;
        border-bottom: solid steelblue;
    }
    body main .hero figure {
        display: flex;
        margin: 10px 10px 10px 10px;
    }
    body main .hero figure img {
        width: 40vh;
        height: auto;
        justify-content: center;
    }
    body main .hero figure figcaption {
        font-size: 9px;
    }

    .container {
        width: 420px;
        background-color: steelblue;
        border-radius: 20px;
        padding: 100px;
        color: white;
        padding: 1px;
        margin: 10px 410px 10px 410px;
    }
    .container legend {
        display: block;
        text-align: center;
        color: purple;
        font-size: 36px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0px 0px 10px;
    }
    
    textarea {
        width: 100%;
    }
    select {
        width: 180px;
        height: 25px;
        font-size: large;
        margin: 0px 0px 0px 0px;
    }
    
    button {
        width: 100%;
        height: 45px;
        background-color: purple;
        color: white;
        border: none;
        outline: none;
        border-radius: 50px;
        margin: 10px 0px 10px;
    }

        footer p{
            text-align: center;
            color: #000;
        }
        footer .Sociallinks {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px;
            margin: 1rem;
            background-color: steelblue;
            border: 1px solid rgba(0, 0, 0,.1) ;
        }
        footer .Sociallinks p{
            padding: 2px;
            color: white;
            text-align: center;

        }
        footer .Sociallinks a img{
            width: 50px;
            height: 50px;
            padding: 2px;
            margin: 1rem;
            border: 1px solid rgba(0, 0, 0, .1);
        }