@import
:root {
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    padding: 10px;
    display: block;
}
img {
    width: 180px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px #333;
    float: left;
}
.section2 img {
    display: block;
    width: 100%;
    height: 100%;
}
article {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color:#000;
}
article img {
    width: 10%;
    height: auto;
    padding: 10px;
}
div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/wwr/images/Background.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
}
h2 {
    color: brown;
    text-align: center;
}
.Sociallinks {
    margin: 1rem;
    border: 1px solid rgb(4, 0, 255);
    padding: 1rem;
    background-color: #ddd;
    color:#000;
}
.Sociallinks img{
    width: 5%;
    height: auto;
}