* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}
.container {
    width: 420px;
    background-color: steelblue;
    border-radius: 20px;
    padding: 100px;
    color: white;
    padding: 1px;
}
.container h1 {
    display: block;
    background-color: steelblue;
    border-radius: 20px;
    color: white;
    padding: 10px;
    font-size: 36px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px 0px 10px;
}
.container .input-box {
    width: 100%;
    height: 50px;
    background-color: steelblue;
    margin: 20px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: 20px 0px;
}

.input-box input {
    width: 100%;
    height: 100%;
}
.input-box select {
    width: 140px;
    height: 50px;
    font-size: large;
}

button {
    width: 100%;
    height: 45px;
    background-color: purple;
    color: white;
    border: none;
    outline: none;
    border-radius: 50px;
    margin: 60px 0px 10px;
}
p {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 10px 0px;
}